<script type="text/javascript" src="/assets/node_modules/pnotify/dist/iife/PNotify.js"></script>
<script type="text/javascript" src="/assets/node_modules/pnotify/dist/iife/PNotifyButtons.js"></script>
    <script src="/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/assets/node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/assets/node_modules/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/assets/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/assets/node_modules/datatables.net-select/js/dataTables.select.min.js"></script>
<script>
$(document).ready(function() {
              var e, a = $("#datatable-records");
              a.length && (e = {
                  lengthChange: !1,
      			"pageLength": 50,
                  dom: "Bfrtip",
                  buttons: ["copy", "print"],
                  language: {
                      paginate: {
                          previous: "<i class='fas fa-angle-left'>",
                          next: "<i class='fas fa-angle-right'>"
                      }
                  }
              }, a.on("init.dt", function() {
                  $(".dt-buttons .btn").removeClass("btn-secondary").addClass("btn-sm btn-default")
              }).DataTable(e))
	var stack_center = {"dir1": "down", "dir2": "right", "firstpos1": 25, "firstpos2": ($(window).width()/2 - 150)};
    $('#confirmDomainDelete').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var domainid = button.data('domainid') // Extract info from data-* attributes
        var domainname = button.data('domainname')
        var tablerowid = '#row' + domainid
        var content = 'Are you sure want to delete <b>' + domainname + '</b>?'
        var modal = $(this)
		modal.find('#modalDomainName').html(domainname)
        modal.find('#modalDeleteContent').html(content)
        $("#confirmDelBtn").unbind("click").click(function(e) {
            var data = {
                domainid: domainid,
                domainname: domainname,
                csrfToken: $('#csrfToken').text()
            };

            $.ajax({
                url: '/ajax/domains/delete',
                method: 'POST',
                data: data
            }).done(function(data) {
                $('#confirmDomainDelete').modal('hide');
                $(tablerowid).closest('tr').remove();
				PNotify.success({title: 'Domain Deleted!', text: 'Your domain has been deleted.', type: 'success', icon: false, addclass: "stack_center", stack: stack_center })
            }).fail(function(errorMsg) {
				PNotify.error({title: 'Error!', text: errorMsg.responseText, type: 'error', icon: false , addclass: "stack_center", stack: stack_center });
            });
        });
    });
});
</script>